<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!--
    xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
-->

<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="main-content-inner" layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <div class="card">
          <div class="card-body">
            <h4 class="header-title">Add new Location</h4>
            <form th:action="@{create}" th:object="${account}" method="post">
              <div class="form-group">
                <label for="exampleInputPassword1">Driver's No</label>
                <input type="text" class="form-control" th:field="*{code}" placeholder="Enter no.....">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Driver's name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{name}" placeholder="Enter name.....">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Driver's phone</label>
                <input type="text" class="form-control" id="exampleInputPassword2" th:field="*{email}" placeholder="Enter name.....">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Driver's phone</label>
                <input type="text" class="form-control" id="exampleInputPassword3" th:field="*{phone}" placeholder="Enter name.....">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Date Import</label>
                <input type="checkbox" class="form-control" id="exampleInputPassword4" th:field="*{isActive}" placeholder="Enter name.....">
              </div>
              <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
