<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!--
    xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
-->

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .text-red {
            color: red;
            font-weight: bold;
            text-transform: uppercase;
        }

        .text-green {
            color: green;
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
</head>

<body>
<div class="main-content-inner" layout:fragment="content">
    <div class="row">
        <div class="col mt-5">
            <div class="card">
                <div class="card-body">
                    <a th:href="@{/auth/create}">
                        <button type="button" class="btn btn-outline-success mb-3">Create</button>
                    </a>
                    <br>
                    <h4 class="header-title">Thead secondary</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <form th:action="@{/auth/search}" method="GET">
                                    <div class="input-group">
                                        <input type="text" name="keyword" placeholder="Search..."
                                               class="form-control"/>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn waves-effect blue-grey darken-3"
                                                    value="Search">Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="container">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table text-center">
                                        <thead class="text-uppercase bg-secondary">
                                        <tr class="text-white">
                                            <th scope="col">Code</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">IsActive</th>
<!--                                            <th scope="col">Role</th>-->
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <tr th:each="list:${account}">
                                            <td th:text="${list.code}"></td>
                                            <td th:text="${list.name}"></td>
                                            <td th:text="${list.email}"></td>
                                            <td th:text="${list.phone}"></td>
                                            <td th:text="${list.isActive}" th:class="${list.isActive == true ? 'text-green' : 'text-red'}">></td>
<!--                                            <td th:text="${list.role}"-->
<!--                                            </td>-->
                                            <td>
                                                <a th:href="'/auth/edit/' + ${list.code}"
                                                   class="btn btn-outline-primary mb-3">
                                                    Update
                                                </a>
                                                <button type="button" class="btn btn-outline-info mb-3" data-toggle="modal" data-target="#changePasswordModal">
                                                    Change Password
                                                </button>
                                            </td>
                                            <!-- Modal for Change Password -->
                                            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:action="'/auth/updatePassword' + ${list.code}" method="post">
                                                            <!-- Input for new password -->
                                                                <div class="form-group">
                                                                    <label for="newPassword">Change Password</label>
                                                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter Your Password You Want To Change...">
                                                                </div>
                                                                <!-- Hidden input to pass account code -->
                                                                <input type="hidden" name="code" th:value="${list.code}">
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-outline-success">Save Changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
