<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<!--
    xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
-->

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="main-content-inner" layout:fragment="content">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <a th:href="@{/auth/create}">
                        <button type="button" class="btn btn-outline-success mb-3">Create</button>
                    </a>
                    <br>
                    <h4 class="header-title">Account List</h4>
                    <div class="data-tables datatable-header">
                        <table id="warehousetable" class="text-center">
                            <thead class="text-capitalize">
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
<!--                                <th>IsActive</th>-->
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list:${account}">
                                <td th:text="${list.code}"></td>
                                <td th:text="${list.name}"></td>
                                <td th:text="${list.email}"></td>
                                <td th:text="${list.phone}"></td>
                                <td style="font-weight: bold">
                                        <span th:if="${list.accountCode.contains('admin')}">
                                            <span th:text="${'Admin' + (list.accountCode.contains('sale') || list.accountCode.contains('importer') || list.accountCode.contains('whManager') || list.accountCode.contains('qc') ? ' | ' : '')}"></span>
                                        </span>
                                    <span th:if="${list.accountCode.contains('sale')}">
                                            <span th:text="${'Sale Order' + (list.accountCode.contains('importer') || list.accountCode.contains('whManager') || list.accountCode.contains('qc') ? ' | ' : '')}"></span>
                                        </span>
                                    <span th:if="${list.accountCode.contains('importer')}">
                                            <span th:text="${'Importer' + (list.accountCode.contains('whManager') || (list.accountCode.contains('qc')) ? ' | ' : '')}"></span>
                                        </span>
                                    <span th:if="${list.accountCode.contains('whManager')}">
                                            <span th:text="${'Warehouse Manager' + (list.accountCode.contains('qc') ? ' | ' : '')}"></span>
                                        </span>
                                    <span th:if="${list.accountCode.contains('qc')}">
                                            <span th:text="${'Quantity Control'}"></span>
                                        </span>
                                </td>
<!--                                <td th:text="${list.isActive}"-->
<!--                                    th:class="${list.isActive == true ? 'text-green' : 'text-red'}">>-->
<!--                                </td>-->
                                <td>
                                    <a th:href="'/auth/edit/' + ${list.code}"
                                       class="btn btn-outline-primary mb-3">
                                        Update
                                    </a>
                                    <a type="button"
                                       style="color:#1bd4a6"
                                       class="btn btn-outline-info mb-3"
                                       data-toggle="modal"
                                       th:data-target="'#myModal-'+${list.getCode()}">
                                        Forgot Password
                                    </a>
                                </td>
                                <!-- Modal -->
                                <div class="modal fade" th:id="@{|myModal-${list.getCode()}|}"
                                     id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Change
                                                    Password Section</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/auth/updatePassword/{code}(code=${list.getCode()})}"
                                                      method="post" th:id="@{|form-${list.getCode()}|}">
                                                    <input name="id" th:value="${list.getCode()}"
                                                           type="hidden"/>
                                                    <div class="form-group">
                                                        <label class="col-form-label">Password:</label>
                                                        <input type="password" class="form-control"
                                                               th:text="${list.password}"
                                                               name="newPassword"
                                                               placeholder="Enter Your Password You Want To Change..."
                                                               required>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-danger"
                                                                data-dismiss="modal">Cancel
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-outline-success">
                                                            Confirm
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#warehousetable').DataTable();
        });
    </script>
</div>
</body>

</html>
