<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html>

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <p data-th-text="#{welcome}">Welcome!</p>
    </body>

</html><!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="row mt-2">
                <div class="col-12 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title" th:text="${model.name}"></h4>
                            <dl class="row">
                                <dt class="col-md-2">Warehouse Code:</dt>
                                <dd class="col-md-10" th:text="${model.code}"></dd>
                                <dt class="col-md-2">Warehouse Name:</dt>
                                <dd class="col-md-10" th:text="${model.name}"></dd>
                                <dt class="col-md-2">Total Capacity</dt>
                                <dd class="col-md-10" th:text="${model.totalCapacity}"></dd>
                                <dt class="col-md-2">Total Remain</dt>
                                <dd class="col-md-10" th:text="${model.totalRemain}"></dd>
                                <dt class="col-md-2">Total Locations</dt>
                                <dd class="col-md-10" th:text="${model.totalLocation}" ></dd>
                            </dl>
                            <a href="/warehouse/index">back to list</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <a th:href="'/warehouse/addLocation/'+${model.code}">
                                <button type="button" class="btn btn-outline-success mb-3">Add new Location</button>
                            </a>
                            <h4 class="header-title">Locations Lists</h4>
                            <div class="data-tables datatable-dark">
                                <table id="locationtable" class="text-center">
                                    <thead class="text-capitalize">
                                        <tr>
                                            <th>Code</th>
                                            <th>Location's Name</th>
                                            <th>Capacity</th>                                          
                                            <th>Used</th>
                                            <th>Remain</th>
                                            <th>Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="location:${model.locations}">
                                            <td th:text="${location.code}"></td>
                                            <td th:text="${location.name}"></td>
                                            <td th:text="${location.capacity}"></td>
                                            <td>                                                                        
                                                <div class="progress">
                                                    <div th:if="${((location.capacity - location.remain) / location.capacity) * 100 < 40}" class="progress-bar bg-success progress-bar-striped" th:style="'width:' + ${((location.capacity - location.remain) / location.capacity * 100)} + '%'"></div>
                                                    <div  th:if="${(((location.capacity - location.remain) / location.capacity) * 100 < 70) and (((location.capacity - location.remain) / location.capacity) * 100 >= 40)}" class="progress-bar bg-warning progress-bar-striped" th:style="'width:' + ${((location.capacity - location.remain) / location.capacity * 100)} + '%'"></div>
                                                    <div  th:if="${(((location.capacity - location.remain) / location.capacity) * 100 <= 100) and (((location.capacity - location.remain) / location.capacity) * 100 >= 70)}" class="progress-bar bg-danger progress-bar-striped" th:style="'width:' + ${((location.capacity - location.remain) / location.capacity * 100)} + '%'"></div>
                                                </div>
                                            </td>
                                            <td th:text="${location.remain}"></td>
                                            <td>
                                                <span th:if="${location.remain > 0}" class="badge badge-pill badge-success">Active</span>
                                                <span th:if="${location.remain == 0} " class="badge badge-pill badge-danger">Inactive</span>
                                            </td>
                                            <td>
                                                <a th:href="'/location/details/'+${location.code}" class="btn btn-outline-info-info">Details</a>
                                                <a th:href="'/location/update/'+${location.code}" class="btn btn-outline-primaryprimary">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#locationtable').DataTable();
                });
            </script>
        </div>
    </body>

</html>

