<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Warehouses Lists</h4>
                            <div class="data-tables datatable-dark">
                                <table id="warehousetable" class="text-center">
                                    <thead class="text-capitalize">
                                        <tr>
                                            <th>Code</th>
                                            <th>Warehouse's Name</th>
                                            <th>Total location</th>
                                            <th>Total capacity</th>
                                            <th>Total remain</th>
                                            <th>Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="warehouse:${list}">
                                            <td th:text="${warehouse.code}"></td>
                                            <td th:text="${warehouse.name}"></td>
                                            <td th:text="${warehouse.totalLocation}"></td>
                                            <td th:text="${warehouse.totalCapacity}"></td>
                                            <td th:text="${warehouse.totalRemain}"></td>
                                              <td>
                                                <span th:if="${warehouse.active}" class="badge badge-pill badge-success">Active</span>
                                                <span th:unless="${warehouse.active}" class="badge badge-pill badge-danger">Inactive</span>
                                            </td>
                                            <td>
                                                <a th:href="'/warehouse/details/'+${warehouse.code}" class="btn btn-info">Details</a>
                                                <a th:href="'/warehouse/update/'+${warehouse.code}" class="btn btn-primary">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#warehousetable').DataTable();
                });
            </script>
        </div>
    </body>

</html>
