<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <style>
            .select-custom-size {
                height: auto !important;
            }
        </style>
    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-success" role="alert" id="successMessage" style="display: none;">
                                Successfully added new customer! Customer data has been added to the list.
                            </div>
                            <div class="datatable-header">
                                <h4 class="header-title">Add New Order</h4>
                            </div>
                            <form th:action="@{new-order}" id="yourForm" method="post">
                                <div class="form-group row">
                                    <label for="orderCode" class="col-sm-2 col-form-label">Order Code</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="orderCode" name="orderCode" th:value="${order.orderCode}" readonly="readonly" class="form-control">
                                    </div>

                                    <label for="customerID" class="col-sm-2 col-form-label">Customer Name</label>
                                    <div class="col-sm-4 input-group">
                                        <select id="customerID" name="customerID" class="form-control select-custom-size">
                                            <option value="">-- Select a customer --</option>
                                            <option th:each="customer : ${customers}" th:value="${customer.customerID}">
                                            <span th:text="${customer.name + ' (' + customer.phone + ')'}"></span>
                                            </option>
                                        </select>
                                        <div class="input-group-append">
                                            <a class="btn btn-success" id="openDialogButton" title="New Customer">
                                                <i class="fas fa-user-plus text-white"></i>
                                            </a>
                                        </div>                                       
                                    </div>                                   
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-8">
                                        <div id="customerIDError" class="text-danger" style="display: none;"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">Goods Name</label>
                                    <div class="col-sm-4">
                                        <select id="itemname" name="itemname" class="form-control select-custom-size">
                                            <option value="">-- Select a item --</option>
                                            <option th:each="item : ${itemdata}" th:value="${item.code}">
                                            <span th:text="${item.name}"></span>
                                            </option>
                                        </select>
                                        <div id="nameError" class="text-danger" style="display: none;"></div>
                                    </div>

                                    <label for="groupID" class="col-sm-2 col-form-label">Group</label>
                                    <div class="col-sm-4">
                                        <select id="groupID" name="groupID" class="form-control select-custom-size">
                                            <option value="">-- Select a group --</option>
                                            <option th:each="group : ${groups}" th:value="${group.groupID}">
                                            <span th:text="${group.name}"></span>
                                            </option>
                                        </select>
                                        <div id="groupIDError" class="text-danger" style="display: none;"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="unitID" class="col-sm-2 col-form-label">Unit</label>
                                    <div class="col-sm-4">
                                        <select id="unitID" name="unitID" class="form-control select-custom-size">
                                            <option value="">-- Select a unit --</option>
                                            <option th:each="unit : ${units}" th:value="${unit.unitID}">
                                            <span th:text="${unit.name}"></span>
                                            </option>
                                        </select>
                                        <div id="unitIDError" class="text-danger" style="display: none;"></div>
                                        <label>1 LII = 200 SET</label> <br/>
                                        <label>1 OII = 2000 SET</label>
                                    </div>

                                    <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                                    <div class="col-sm-4">
                                        <input type="number" id="amount" name="amount" th:value="${order.amount}" class="form-control">
                                        <div id="amountError" class="text-danger" style="display: none;"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" name="description" class="form-control" rows="4" th:text="${order.description}"></textarea>
                                </div>

                                <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
                                <a th:href="@{/orders/list}" class="btn btn-secondary">Cancel</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered " role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="customerModalLabel">Customer's Information</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="customerForm">
                                <div class="form-group">
                                    <label for="customerName">Customer Name</label>
                                    <input type="text" class="form-control" id="customerName" name="customerName">
                                    <div id="customerNameError" class="text-danger" style="display: none;"></div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                    <div id="emailError" class="text-danger" style="display: none;"></div>
                                </div>

                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                    <div id="phoneError" class="text-danger" style="display: none;"></div>
                                </div>

                                <div class="form-group">
                                    <label for="fax">Tax</label>
                                    <input type="text" class="form-control" id="fax" name="fax">
                                    <div id="faxError" class="text-danger" style="display: none;"></div>
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" name="address">
                                    <div id="addressError" class="text-danger" style="display: none;"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="saveCustomerButton">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

            <script>
                $('#openDialogButton').click(function () {
                    $('#customerModal').modal('show');
                });
                // Hide the error message when the user starts entering Customer Name
                $('#customerName').on('input', function () {
                    $('#customerNameError').hide();
                });
                // Hide the error message when the user starts entering Email
                $('#email').on('input', function () {
                    $('#emailError').hide();
                });
                // Hide the error message when the user starts entering Phone
                $('#phone').on('input', function () {
                    $('#phoneError').hide();
                });
                // Hide the error message when the user starts entering Tax
                $('#fax').on('input', function () {
                    $('#faxError').hide();
                });
                // Hide the error message when the user starts entering Address
                $('#address').on('input', function () {
                    $('#addressError').hide();
                });
                function isValidEmail(email) {
                    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                    return emailPattern.test(email);
                }

                function isValidPhoneNumber(phone) {
                    var phonePattern = /^\d{10,12}$/;
                    return phonePattern.test(phone);
                }

                function isValidFax(fax) {
                    var faxPattern = /^\d{13}$/;
                    return faxPattern.test(fax);
                }

                $('#saveCustomerButton').click(function () {
                    // Lấy thông tin khách hàng từ modal
                    var customerName = $('#customerName').val();
                    var email = $('#email').val();
                    var phone = $('#phone').val();
                    var fax = $('#fax').val();
                    var address = $('#address').val();
                    var disableCustomer = $('#disableCustomer').prop('checked');
                    // Check Customer Name is not empty
                    if (customerName.trim() === '') {
                        $('#customerNameError').text('Please enter a customer name.');
                        $('#customerNameError').show();
                        return; // Prevent saving when Customer Name is empty
                    } else {
                        $('#customerNameError').hide();
                    }

                    // Check Email format if it's not empty
                    if (email.trim() !== '') {
                        if (!isValidEmail(email)) {
                            $('#emailError').text('Invalid email. Please enter email in the correct format.');
                            $('#emailError').show();
                            return; // Prevent saving when Email is invalid
                        } else {
                            $('#emailError').hide();
                        }
                    }

                    // Check Phone is not empty
                    if (phone.trim() === '') {
                        $('#phoneError').text('Please enter a phone number.');
                        $('#phoneError').show();
                        return; // Prevent saving when Phone is empty
                    } else {
                        $('#phoneError').hide();
                    }

                    // Check Phone format
                    if (!isValidPhoneNumber(phone)) {
                        $('#phoneError').text('Invalid phone number. The phone number must have 10 to 12 digits.');
                        $('#phoneError').show();
                        return;
                    } else {
                        $('#phoneError').hide();
                    }

                    // Check Fax format if it's not empty
                    if (fax.trim() !== '') {
                        if (!isValidFax(fax)) {
                            $('#faxError').text('Invalid tax code. Tax code must have exactly 13 digits.');
                            $('#faxError').show();
                            return; // Prevent saving when Fax is invalid
                        } else {
                            $('#faxError').hide();
                        }
                    }

                    // Check Address is not empty
                    if (address.trim() === '') {
                        $('#addressError').text('Please enter an address.');
                        $('#addressError').show();
                        return; // Prevent saving when Address is empty
                    } else {
                        $('#addressError').hide();
                    }

                    var newCustomer = {
                        name: customerName,
                        email: email,
                        phone: phone,
                        fax: fax,
                        address: address,
                        disable: disableCustomer
                    };
                    $.ajax({
                        url: '/api/customers',
                        type: 'POST',
                        data: JSON.stringify(newCustomer),
                        contentType: 'application/json',
                        success: function (data) {
                            console.log('Thêm khách hàng thành công:', data);
                            // Hiển thị thông báo thành công
                            $('#successMessage').show();
                            setTimeout(function () {
                                $('#successMessage').hide();
                            }, 3000);
                            // Đóng dialog
                            $('#customerModal').modal('hide');
                            // Xóa dữ liệu đã nhập trong modal
                            $('#customerName').val('');
                            $('#email').val('');
                            $('#phone').val('');
                            $('#fax').val('');
                            $('#address').val('');
                            $('#disableCustomer').prop('checked', false);
                            // Cập nhật danh sách khách hàng trong phần tử <select>
                            var customerSelect = $('#customerID');
                            var newOption = $('<option>', {
                                value: data.customerID,
                                text: data.name
                            });
                            // Kiểm tra thuộc tính 'disable' của khách hàng mới
                            if (!data.disable) {
                                // Nếu 'disable' không là true, thì mới thêm phần tử <option> mới vào danh sách
                                customerSelect.append(newOption);
                            }

                            // Cập nhật danh sách <option> trong phần tử <select>
                            customerSelect.trigger('change'); // Kích hoạt sự kiện change để cập nhật phần tử <select>
                        },
                        error: function (xhr, status, error) {
                            console.error('Lỗi khi thêm khách hàng:', error);
                        }
                    });
                });
                $('#itemname').on('input', function () {
                    $('#nameError').hide();
                });
                $('#customerID').on('input', function () {
                    $('#customerIDError').hide();
                });
                $('#groupID').on('input', function () {
                    $('#groupIDError').hide();
                });
                $('#unitID').on('input', function () {
                    $('#unitIDError').hide();
                });
                $('#amount').on('input', function () {
                    $('#amountError').hide();
                });
                $('#saveButton').click(function (event) {
                    // Prevent the default form submission
                    event.preventDefault();

                    // Validate "Customer Name"
                    var customerName = $('#customerID').val();
                    if (customerName === '') {
                        $('#customerIDError').text('Please select a customer.');
                        $('#customerIDError').show();
                        return;
                    } else {
                        $('#customerIDError').hide();
                    }
                    // Validate "Goods Name"
                    var goodsName = $('#itemname').val();
                    if (goodsName.trim() === '') {
                        $('#nameError').text('Goods Name is required.');
                        $('#nameError').show();
                        return;
                    } else {
                        $('#nameError').hide();
                    }
                    //Validate "Group"                 
                    var group = $('#groupID').val();
                    if (group === '') {
                        $('#groupIDError').text('Please select a group.');
                        $('#groupIDError').show();
                        return;
                    } else {
                        $('#groupIDError').hide();
                    }

                    // Validate "Unit"
                    var unit = $('#unitID').val();
                    if (unit === '') {
                        $('#unitIDError').text('Please select a unit.');
                        $('#unitIDError').show();
                        return;
                    } else {
                        $('#unitIDError').hide();
                    }

                    // Validate "Amount"
                    var amount = $('#amount').val();
                    if (amount.trim() === '') {
                        $('#amountError').text('Amount is required.');
                        $('#amountError').show();
                        return;
                    } else {
                        $('#amountError').hide();
                    }

                    // If all validations pass, submit the form
                    $('#yourForm').submit();
                });
            </script>
        </div>
    </body>

</html>
