<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="row mt-2">
                <div class="col-12 mt-2">
                    <div class="card">
                        <div class="card-header">
                            <h3>Item management</h3>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-md-2">Item Code:</dt>
                                <dd class="col-md-10" th:text="${item.codeItemdata.code}"></dd>
                                <dt class="col-md-2">Item Name:</dt>
                                <dd class="col-md-10" th:text="${item.codeItemdata.name}"></dd>
                                <dt class="col-md-2">Remain UnAllocated Quantity:</dt>
                                <dd class="col-md-10" th:text="${item.qcAcceptQuantity} - ${item.bookQty}"></dd>
                                <dt class="col-md-2">Date Import:</dt>
                                <dd class="col-md-10" th:text="${item.dateImport}"></dd>
                                <dt class="col-md-2">Recieve No:</dt>
                                <dd class="col-md-10" th:text="${item.recieveNo}" ></dd>
                            </dl>
                            <a href="/itemmaster/unallocate">back to list</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 mt-2">

                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="text-uppercase bg-light">
                                    <tr>
                                        <th>Code</th>
                                        <th>Location's Name</th>
                                        <th>Capacity</th>
                                        <th>Remain</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="location:${location}">
                                        <td th:text="${location.code}"></td>
                                        <td th:text="${location.name}"></td>
                                        <td th:text="${location.capacity}"></td>
                                        <td th:text="${location.remain}"></td>
                                        <td>
                                            <input type="text" class="form-control" th:id="${location.code}"/>
                                        </td>
                                        <td th:if="${item.qcAcceptQuantity} > ${item.bookQty}">
                                            <button class="btn btn-outline-warning" th:onclick="pickList([[${location.code}]],[[${item.id}]])">Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function pickList(locationCode, itemMasterId) {
                const pickList = {
                    locationCode: locationCode,
                    qty: $('#' + locationCode).val(),
                    itemMasterId: itemMasterId
                }


                $.ajax({
                    url: '/itemmaster/confirmPickList',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(pickList),
                    success: function (common) {
                        if (common === 200) {
                            Swal.fire(
                                    'Good job!',
                                    'Pick List success',
                                    'success'
                                    ).then(function () {
                                window.location.reload();
                            });
                        } else if (common === 300) {
                            Swal.fire(
                                    'Oops!',
                                    'This location does not have enough remain cappacity , please try another locations',
                                    'error'
                                    );
                        }
                    },
                    error: function (err) {
                        Swal.fire(
                                'Oops!',
                                'Something error',
                                'error'
                                );
                    }
                });
            }
        </script>
        </div>
    </div>
</body>

</html>

