<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body">
                            <h3 class="header-title">Warehouse history</h3>
                        <div class="card-body">
                            <div id="gridContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                let logGrid;
                window.jsPDF = window.jspdf.jsPDF;
                $(() => {
                    var logDataSource = new DevExpress.data.CustomStore({
                        key: "id",
                        loadMode: "raw",
                        selection: {
                            mode: 'multiple',
                        },
                        load: function (loadOptions) {
                            var d = $.Deferred();
                            $.ajax({
                                async: false,
                                crossDomain: true,
                                url: '/api/logs/getlogs',
                                headers: {
                                    "Content-Type": "application/json",
                                    "cache-control": "no-cache"
                                },
                                method: "GET"
                            }).done(function (result) {
                                d.resolve(result);
                            }).fail(function (xhr) {
                                console.log("failed");
                            });

                            return d.promise();
                        }

                    });

                    logGrid = $('#gridContainer').dxDataGrid({
                        dataSource: logDataSource,
                        selection: {
                            mode: 'multiple',
                        },
                        export: {
                            enabled: true,
                            formats: ['pdf', 'xlsx'],
                            allowExportSelectedData: true,
                        },
                        showBorders: true,
                        filterRow: {
                            visible: true,
                            applyFilter: 'auto',
                        },
                        searchPanel: {
                            visible: true,
                            width: 240,
                            placeholder: 'Search...',
                        },
                        onExporting(e) {
                            e.cancel = true;

                            switch (e.format) {
                                case "pdf":
                                    const doc = new jsPDF();
                                    const header = 'Transactions Logs';
                                    const pageWidth = doc.internal.pageSize.getWidth();
                                    doc.setFontSize(15);
                                    const headerWidth = doc.getTextDimensions(header).w;
                                    doc.text(header, (pageWidth - headerWidth) / 2, 5);
                                    DevExpress.pdfExporter.exportDataGrid({
                                        jsPDFDocument: doc,
                                        component: logGrid,

                                    }).then(function () {
                                        doc.save('Log Transactions.pdf');
                                    });
                                    break;

                                case "xlsx":
                                    const workbook = new ExcelJS.Workbook();
                                    const worksheet = workbook.addWorksheet("Log Transactions");
                                     DevExpress.excelExporter.exportDataGrid({
                                        component: e.component,
                                        worksheet: worksheet,
                                        autoFilterEnabled: true
                                    }).then(() => {
                                        workbook.xlsx.writeBuffer().then((buffer) => {
                                            saveAs(
                                                    new Blob([buffer], {type: "application/octet-stream"}),
                                                    "Log Transactions.xlsx"
                                                    );
                                        });
                                    });
                                    break;
                            }
                        },
                        headerFilter: {
                            visible: true,
                        },
                        columns: [{
                                dataField: 'id',
                                caption: 'Id',
                                width: '8%',
                                alignment: 'center'
                            },
                            {
                                dataField: 'itemName',
                                caption: 'Item Name',
                                width: '12%',
                            },
                            {
                                dataField: 'locationName',
                                caption: 'Location Name',
                                width: '12%',
                            },
                            {
                                dataField: 'recieveNo',
                                caption: 'Recieve No',
                                width: '12%',
                            },
                            {
                                dataField: 'saveDate',
                                caption: 'Action Date',
                                dataType: 'date',
                                format: 'dd/MM/yyyy',
                                width: '12%',
                            },
                            {
                                dataField: 'quantity',
                                caption: 'Quantity',
                                width: '14%',
                                alignment: 'center'
                            },
                            {
                                dataField: 'method',
                                caption: 'Method',
                                width: '8%',
                                cellTemplate(container, options) {
                                    if (options.data.method === "Allocate") {
                                        container.append("<span class='text-success font-weight-bold'>Allocate</span>");
                                    } else {
                                        container.append("<span class='text-info font-weight-bold'>Issue</span>")
                                    }
                                }
                            },
                        ],
                        columnAutoWidth: true,
                        showRowLines: true,
                        showBorders: true,
                    }).dxDataGrid("instance");
                })

            </script>
        </div>
        <!--        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
                <script>
              // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                </script>-->
    </body>

</html>
