<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Update Supplier</h4>
                            <form th:action="@{/supplier/update}" th:object="${supplier}" method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Supplier's Code</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{supId}" placeholder="Enter code....." readonly="true">
                                    <!--                                <small id="emailHelp" class="form-text text-muted">We'll never share your
                                                                        email with anyone else.</small>-->
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Name</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{supName}" placeholder="Enter name.....">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Address</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{supAddress}" placeholder="Enter address.....">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{supEmail}" placeholder="Enter email.....">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">City</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{city}" placeholder="Enter city.....">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Tax Code</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{taxCode}" placeholder="Enter taxcode.....">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1" th:field="*{active}">
                                    <label class="form-check-label" for="exampleCheck1">Active</label>
                                </div>
                                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Update</button>
                                <a href="/supplier/index" class="btn btn-secondary mt-4 pr-4 pl-4" type="submit">Cancle</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
