<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <style>
                .disabled{
                    opacity:0.5;
                }
            </style>
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <a th:href="@{/supplier/create}">
                                <button type="button" class="btn btn-outline-success mb-3">Add new Supplier</button>
                            </a>
                            <h4 class="header-title">Supplier List</h4>
                            <div class="data-tables datatable-dark">
                                <table id="warehousetable" class="text-center">
                                    <thead class="text-capitalize">
                                        <tr>
                                            <th>Supplier Code</th>
                                            <th>Supplier's Name</th>
                                            <th>Supplier's Address</th>
                                            <th>Supplier's Email</th>
                                            <th>City</th>
                                            <th>Tax_code</th>
                                            <th>Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="supplier:${list}"  th:class="${!supplier.active} ? 'disabled' : '' ">
                                            <td th:text="${supplier.supId}"></td>
                                            <td th:text="${supplier.supName}"></td>
                                            <td th:text="${supplier.supAddress}"></td>
                                            <td th:text="${supplier.supEmail}"></td>
                                            <td th:text="${supplier.city}"></td>
                                            <td th:text="${supplier.taxCode}"></td>
                                            <td th:if="${supplier.active}"                                              
                                                <button type="submit" class="btn btn-success" th:onclick="setActive([[${supplier.supId}]])">Active</button>                   
                                            </td>
                                            <td th:unless="${supplier.active}">                                              
                                                <button type="submit" class="btn btn-danger" th:onclick="setActive([[${supplier.supId}]])">Inactive</button>                                              
                                            </td>
                                            <td>
                                                <a type="submit" class="btn btn-primary outlined-line" th:href="'/supplier/update/' + ${supplier.supId}">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                $(document).ready(function () {
                    $('#warehousetable').DataTable();
                });
                const setActive = (id) => {
                    Swal.fire({
                        title: 'Do you want to save the changes?',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: 'Save',
                        denyButtonText: `Don't save`,
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "GET",
                                url: "/supplier/updateStatus/" + id,
                                success: function (res) {
                                    if (res === 200) {
                                        Swal.fire(
                                                'Good job!',
                                                'Save change success',
                                                'success'
                                                ).then(function () {
                                            window.location.reload();
                                        });
                                    } else if (res === 300) {
                                        Swal.fire(
                                                'Oops!',
                                                'This location does not have enough remain cappacity ',
                                                'error'
                                                );
                                    }
                                }
                            });
                        } else if (result.isDenied) {
                            Swal.fire('Changes are not saved', '', 'info')
                        }
                    });
                }
            </script>
        </div>
    </body>

</html>
