<!DOCTYPE html>
<html lang="vi" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Not Found - Error 404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="error-container">
  <div class="error-icon">
    <i class="fas fa-exclamation-triangle"></i>
  </div>
  <div class="error-content">
    <h1 class="error-title">Not Found - Error 404!</h1>
    <p style="font-size: 25px;">Can Not Find This Site!</p>
    <p>Go Back <a href="/warehouse/index">Home</a>.</p>
  </div>
</div>
</body>
</html>
