<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Add new Information Detail</h4>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Import No</label>
                                    <input type="text" class="form-control" name="idImp" id="idImp"
                                           th:value="${idImport.id}" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>Supplier</label>
                                    <select class="form-control" id="supplier">
                                        <option th:each="sup:${supplier}" th:value="${sup.supName}"
                                                th:text="${sup.supName}"></option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Item Name</label>
                                    <select class="form-control" id="itemName">
                                        <option th:each="itemdata:${itemdata}" th:value="${itemdata.name}"
                                                th:text="${itemdata.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Quantity</label>
                                    <input type="text" class="form-control" id="quantity" placeholder="Enter name.....">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Receive No</label>
                                    <input type="text" class="form-control" id="recieveNo"
                                           placeholder="Enter name.....">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Date Import</label>
                                    <input type="date" class="form-control" id="dateImport"
                                           placeholder="Enter name.....">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Note</label>
                                    <textarea class="form-control" id="note"></textarea>
                                </div>
                                <button type="button" class="btn btn-primary mt-4 pr-4 pl-4" id="btnSubmit">Submit
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!--
            idImp: 5
supplierName: thien+an
itemName: ao+so+mi
quantity: 253235
recieveNo: 235235
dateImport: 2023-09-13
note: 235235
           -->
             <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
           <script>
               let routeUrl = location.protocol+"//" + location.host;
               $(()=>{
                   $('#btnSubmit').click(function() {

                       const itemMasterDao = {
                           idImport: $('#idImp').val(),
                           supplierName: $('#supplier option:selected').val(),
                           itemName: $('#itemName option:selected').val(),
                           quantity: $('#quantity').val(),
                           recieveNo: $('#recieveNo').val(),
                           dateImport: $('#dateImport').val(),
                           note: $('#note').val()
                       }

                       $.ajax({
                           url: routeUrl + '/api/importOrder/v2/createItem',
                          type: 'POST',
                          contentType: "application/json",
                          data: JSON.stringify(itemMasterDao),
                          success: function (common) {
                              if (common === 200) {
                                  Swal.fire(
                                          'Good job!',
                                          'Pick List success',
                                          'success'
                                          ).then(function(){
                                              window.location.href=routeUrl+"/import/details/"+itemMasterDao.idImport;
                                          });
                              }else if(common === 300){
                                   Swal.fire(
                                      'Oops!',
                                      'Please try again',
                                      'error'
                                      );                          
                              }
                          },
                          error: function (err) {
                              Swal.fire(
                                      'Oops!',
                                      'Something error',
                                      'error'
                                      );
                          }
                      });
                   });
               });
           </script>
        </div>
    </body>

</html>
