<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script>
            function validateDate(input) {
                const enteredDate = new Date(input.value).setHours(0, 0, 0, 0);
                const currentDate = new Date().setHours(0, 0, 0, 0);
                const checkCreate = document.querySelector('.checkCreate');
                checkCreate.disabled = false;
                checkCreate.style.opacity = '1';

                if (enteredDate > currentDate) {
                    document.getElementById('dateValidationError').style.display = 'block';
                    checkCreate.disabled = true;
                    checkCreate.style.opacity = '0.5';
                } else {
                    document.getElementById('dateValidationError').style.display = 'none';
                    checkCreate.disabled = false;
                    checkCreate.style.opacity = '1';
                }
            }
        </script>
        <script src="/js/checkCreateImport.js"></script>
    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Add new Import</h4>
                                <form th:action="@{/import/create}" th:object="${import}" method="post">
                                  <div class="form-group">
                                        <label for="exampleInputPassword1">Driver's name</label>
                                      <small class="form-text text-danger showNameError"
                                             style="font-weight: bold; display: block; margin-top: 2px; font-size: 12px"></small>
                                      <small class="form-text text-success showNameSuccess"
                                             style="font-weight: bold; display: block; margin-top: 2px; font-size: 12px"></small>
                                        <input type="text" class="form-control name" id="exampleInputPassword1" th:field="*{driver}" placeholder="Enter name....." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Driver's phone</label>
                                        <small class="form-text text-danger showPhoneError"
                                               style="font-weight: bold; display: block; margin-top: 2px; font-size: 12px"></small>
                                        <small class="form-text text-success showPhoneSuccess"
                                               style="font-weight: bold; display: block; margin-top: 2px; font-size: 12px"></small>
                                        <input type="text" class="form-control phone" id="exampleInputPassword1" th:field="*{driversPhone}" placeholder="Enter phone....." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">From</label>
                                        <select th:field="*{supplierName}" class="form-control">
                                        <option th:each="sup:${supplier}" th:value="${sup.supName}" th:text="${sup.supName}"></option>
                                    </select>
                                        <!--<input type="text" class="form-control" id="exampleInputPassword1" th:field="*{supplierName}">-->
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Date Import</label>
                                        <small id="dateValidationError" class="form-text text-danger" style="font-weight: bold; display: none; margin-top: 2px; font-size: 12px">Date Should Not Exceed The Current Date!</small>
                                        <input type="date" class="form-control" id="exampleInputPassword1" th:field="*{dateImport}" onblur="validateDate(this)">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Note</label>
                                        <textarea th:field="*{note}" class="form-control"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4 checkCreate">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
