<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!--
        xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
    -->

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            .text-red {
                color: red;
                font-weight: bold;
                text-transform: uppercase;
            }

            .text-green {
                color: green;
                font-weight: bold;
                text-transform: uppercase;
            }
        </style>
    </head>

    <body>
        <div class="main-content-inner" layout:fragment="content">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <a th:href="@{/import/create}"><button type="button" class="btn btn-outline-primary mb-3">Add new Order</button></a>
                            <h4 class="header-title">Thead secondary</h4>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table text-center">
                                        <thead class="text-uppercase bg-secondary">
                                            <tr class="text-white">
                                                <th scope="col">Driver's Name</th>
                                                <th scope="col">Driver's Phone</th>
                                                <th scope="col">From</th>
                                                <th scope="col">Date Import</th>
                                                <th scope="col">Note</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                        <tr th:each="import:${list}">
                                            <td th:text="${import.driver}"></td>
                                            <td th:text="${import.driversPhone}"></td>
                                            <td th:text="${import.supplierName}"></td>
                                            <td th:text="${import.dateImport}"></td>
                                            <td th:text="${import.note}"></td>
                                            <td th:text="${import.status}"
                                                th:class="${import.status == true ? 'text-red' : 'text-green'}">
                                            </td>
                                            <td>
                                                <a th:href="'/import/details/' + ${import.id}">Details</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
